.heroes {
  list-style-type: none;

  li {
    display: flex;
  }
}

.button {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.name {
  padding-left: 3rem;
}

.badge {
  background-color: rgb(20, 73, 72);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.selected {
  background-color: rgb(20, 73, 72);
  color: white;
}